# .gitignore for Grails 1.2 and 1.3

# web application files
vfis/web-app/WEB-INF

# IDE support files
vfis/.classpath
vfis/.launch
vfis/.project
vfis/.settings
vfis/*.launch
vfis/*.tmproj
vfis/ivy*
vfis/eclipse

# default HSQL database files for production mode
vfis/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
vfis/stacktrace.log
vfis/test/reports
vfis/logs

# project release file
/*.war

# plugin release file
vfis/*.zip

# older plugin install locations
vfis/plugins
vfis/web-app/plugins
vfis/web-app/WEB-INF/classes

# "temporary" build files
vfis/target

# other
*.iws

# gedit backup files
*~
